@use "./base" as *;
@media (max-width: $laptop-max) and (min-width: $laptop-min) {
 
}

@media (max-width: $laptop-min) and (min-width: $tablet-min) {
   .info-title{
    text-align: center;
    font-size: 6.5vw;
  }
  .info-breadcrumb{
    text-align: center;
    font-size: 3vw;
  }

  .info-content{
    padding: 2.5rem;
  }
}

@media (min-width: $phone-min) and (max-width: $phone-max) {
    .info-title{
    text-align: center;
    font-size: 7vw;
  }
  .info-breadcrumb{
    text-align: center;
    font-size: 4vw;
  }

  .info-content{
    padding: 1rem;
  }
  .info-content li{
    font-size: 3.2vw;
  }
  .info-content p{
    font-size: 3vw;
  }
  .info-content h2 {
    font-size: 5vw;
}
}
