@font-face {
  font-family: "ApercuPro";
  src: url("../../assets/fonts/apercu/ApercuPro.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ApercuPro";
  src: url("../../assets/fonts/apercu/ApercuPro-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ApercuPro";
  src: url("../../assets/fonts/apercu/ApercuPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ApercuPro";
  src: url("../../assets/fonts/apercu/ApercuPro-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ApercuPro";
  src: url("../../assets/fonts/apercu/ApercuPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ApercuPro";
  src: url("../../assets/fonts/apercu/ApercuPro-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ApercuProMono";
  src: url("../../assets/fonts/apercu/ApercuPro-Mono.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IvyPresto";
  src: url("../../assets/fonts/ivy-presto-display/ivy-presto-display.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
