@use "./base" as *;
@media (min-width: $desktop-xl) {
  .how-it-works-section .how-it-works-div .how-it-works-video video{
    width: 50%;
  }

  .pc-cardInner{
    max-width: 35vw;
  }
  .pc-title{
    font-size: 2rem;
  }
  .pc-price {
    font-size: 1.4rem;
  }
}

@media (max-width: $laptop-min) and (min-width: $tablet-min) {
     .how-it-works-section .how-it-works-div{
      grid-template-columns: 1.2fr 1fr;
     }
    .how-it-works-section .how-it-works-div .how-it-works-video video{
      position: relative;
      top: 20px;
      width: 80%;
    }
     .how-it-works-section h1{
      font-size: 5vw;
     }

     .how-it-works-section .how-it-works-div .steps-list{
      gap: 5px;
     }
     .how-it-works-section .how-it-works-div .steps-list .step-item{
      --content-left: 80px;
     }
     .how-it-works-section .how-it-works-div .steps-list .step-item .step-title {
      font-size: 2.2vw;
     }
     .how-it-works-section .how-it-works-div .steps-list .step-item .step-badge img{
      width: 60px;
     }
     .how-it-works-section .how-it-works-div .steps-list .step-item .step-badge .step-number{
      font-size: 1rem;
     }
     .how-it-works-section .how-it-works-div .steps-list .step-item .step-badge{
      top:18px;
     }
      .how-it-works-section .how-it-works-div .steps-list .step-item .step-panel p{
      font-size: 1.5vw;
     }

     //next section
     .whats-include-section .whats-include-background .whats-include-div {
      width: 60%;
     }
     .whats-include-section .whats-include-background .whats-include-div .img-include{
      width: 150px;
      top: -30px;
     }
     .whats-include-section .whats-include-background .whats-include-div .include-pill{
      width: 80%;
     }
     .whats-include-section .whats-include-background .whats-include-div .include-title {
      font-size: 2vw;
     }
    
    
    .whats-include-section .whats-include-background .whats-include-div .include-item.is-open .include-panel {
      width: 70%;
    }
     .whats-include-section .whats-include-background .whats-include-div .include-item .include-panel p{
      width: 100%;
      font-size: 2vw;
     }
     .reserve-now-section-experiencie button{
      width: 80%;
      font-size: 3vw;
      padding: 16px 20px;
      height: 100px;
     }
}

@media (min-width: $phone-min) and (max-width: $phone-max) {
  .how-it-works-section {
    padding: 0rem 0rem 0rem 1rem;
    
  }

    .how-it-works-section .how-it-works-div{
      display: flex;
      flex-direction:  column;
     
     }
     .how-it-works-section .how-it-works-div .how-it-works-video{
      position: initial;
     }
    .how-it-works-section .how-it-works-div .how-it-works-video video{

      width: 70%;
      margin-bottom: 2rem;
    }
     .how-it-works-section h1{
      font-size: 10vw;
      padding-bottom: 0rem;
      
     }

     .how-it-works-section .how-it-works-div .steps-list{
      gap:2vw;
     }
     .how-it-works-section .how-it-works-div .steps-list .step-item{
      --content-left: 15vw;
     }
     .how-it-works-section .how-it-works-div .steps-list .step-item .step-title {
      font-size: 3.6vw;
     }
     .how-it-works-section .how-it-works-div .steps-list .step-item .step-badge img{
      width: 17vw;
      
     }
     .how-it-works-section .how-it-works-div .steps-list .step-item .step-badge{
        left: 5px;
     }
     .how-it-works-section .how-it-works-div .steps-list .step-item .step-badge .step-number{
      font-size: 5vw;
     }
     .how-it-works-section .how-it-works-div .steps-list .step-item .step-panel p{
      font-size: 3.5vw
     }

     //next section

     .ribbon-img{
      width: 115vw;
     }
     .whats-include-section .whats-include-background{
       background-size: cover;
     }
     .whats-include-section .whats-include-background .whats-include-div {
      width: 80%;
     }
     .whats-include-section .whats-include-background .whats-include-div .include-list{
      gap: 1rem;
     }
     .whats-include-section .whats-include-background .whats-include-div .img-include{
      width: 120px;
      top: -25px;
     }
     .whats-include-section .whats-include-background .whats-include-div .include-pill{
      justify-content: space-between;
      gap: 0px;
      width: 90%;
     }
     .whats-include-section .whats-include-background .whats-include-div .include-title {
      font-size: 3vw;
      text-align: center;
     }
    
     
    .whats-include-section .whats-include-background .whats-include-div .include-item.is-open .include-panel {
      width: 70%;
    }
     .whats-include-section .whats-include-background .whats-include-div .include-item .include-panel p{
      width: 100%;
      font-size: 3.2vw;
     }
     ///next section
     .reserve-now-section-experiencie{
      background-size: cover;
      grid-template-columns: 1fr 1.5fr;
     }
    
     .reserve-now-section-experiencie button{
      width: 90%;
      font-size: 3vw;
      padding: 0px 0px;
      height: 12vw;
      border: 2px solid #c41123;
     }
}
