$brand-red: #c41123;
$brand-pink: #e55499;
$soft-pink: #ec84a1;
$light-pink: #ffe6ed;
$white: #ffffff;
$font-primary: "ApercuPro";
$desktop-xl: 1500px;
$laptop-max: 1400px;
$laptop-min: 1100px;
$tablet-min: 768px;
$phone-max: 767px;
$phone-min: 320px;
