*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
  color: white;
  text-decoration: none;
}

html, body { overflow-x: hidden; }   /* safety net */

/* ----- ApercuPro Bold ----- */
@font-face {
  font-family: "ApercuPro";
  src: url("../assets/fonts/apercu/ApercuPro-Bold.woff2") format("woff2"),
       url("../assets/fonts/apercu/ApercuPro-Bold.woff") format("woff"),
       url("../assets/fonts/apercu/ApercuPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* ----- ApercuPro Bold Italic ----- */
@font-face {
  font-family: "ApercuPro";
  src: url("../assets/fonts/apercu/ApercuPro-BoldItalic.woff2") format("woff2"),
       url("../assets/fonts/apercu/ApercuPro-BoldItalic.woff") format("woff"),
       url("../assets/fonts/apercu/ApercuPro-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* ----- ApercuPro Italic ----- */
@font-face {
  font-family: "ApercuPro";
  src: url("../assets/fonts/apercu/ApercuPro-Italic.woff2") format("woff2"),
       url("../assets/fonts/apercu/ApercuPro-Italic.woff") format("woff"),
       url("../assets/fonts/apercu/ApercuPro-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* ----- ApercuPro Medium ----- */
@font-face {
  font-family: "ApercuPro";
  src: url("../assets/fonts/apercu/ApercuPro-Medium.woff2") format("woff2"),
       url("../assets/fonts/apercu/ApercuPro-Medium.woff") format("woff"),
       url("../assets/fonts/apercu/ApercuPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* ----- ApercuPro Medium Italic ----- */
@font-face {
  font-family: "ApercuPro";
  src: url("../assets/fonts/apercu/ApercuPro-MediumItalic.woff2") format("woff2"),
       url("../assets/fonts/apercu/ApercuPro-MediumItalic.woff") format("woff"),
       url("../assets/fonts/apercu/ApercuPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* ----- ApercuPro Mono ----- */
@font-face {
  font-family: "ApercuProMono";
  src: url("../assets/fonts/apercu/ApercuPro-Mono.woff2") format("woff2"),
       url("../assets/fonts/apercu/ApercuPro-Mono.woff") format("woff"),
       url("../assets/fonts/apercu/ApercuPro-Mono.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* ----- ApercuPro Regular (caso exista) ----- */
@font-face {
  font-family: "ApercuPro";
  src: url("../assets/fonts/apercu/ApercuPro.woff2") format("woff2"),
       url("../assets/fonts/apercu/ApercuPro.woff") format("woff"),
       url("../assets/fonts/apercu/ApercuPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.rolling-card-2{
    padding: 0.5rem;
    background-color: #e55498;
    color: white;
    font-family: "ApercuPro";
}