/* ----- ApercuPro Bold ----- */
@font-face {
  font-family: "ApercuPro";
  src: url("../assets/fonts/apercu/ApercuPro-Bold.woff2") format("woff2"),
       url("../assets/fonts/apercu/ApercuPro-Bold.woff") format("woff"),
       url("../assets/fonts/apercu/ApercuPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* ----- ApercuPro Bold Italic ----- */
@font-face {
  font-family: "ApercuPro";
  src: url("../assets/fonts/apercu/ApercuPro-BoldItalic.woff2") format("woff2"),
       url("../assets/fonts/apercu/ApercuPro-BoldItalic.woff") format("woff"),
       url("../assets/fonts/apercu/ApercuPro-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* ----- ApercuPro Italic ----- */
@font-face {
  font-family: "ApercuPro";
  src: url("../assets/fonts/apercu/ApercuPro-Italic.woff2") format("woff2"),
       url("../assets/fonts/apercu/ApercuPro-Italic.woff") format("woff"),
       url("../assets/fonts/apercu/ApercuPro-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* ----- ApercuPro Medium ----- */
@font-face {
  font-family: "ApercuPro";
  src: url("../assets/fonts/apercu/ApercuPro-Medium.woff2") format("woff2"),
       url("../assets/fonts/apercu/ApercuPro-Medium.woff") format("woff"),
       url("../assets/fonts/apercu/ApercuPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* ----- ApercuPro Medium Italic ----- */
@font-face {
  font-family: "ApercuPro";
  src: url("../assets/fonts/apercu/ApercuPro-MediumItalic.woff2") format("woff2"),
       url("../assets/fonts/apercu/ApercuPro-MediumItalic.woff") format("woff"),
       url("../assets/fonts/apercu/ApercuPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* ----- ApercuPro Mono ----- */
@font-face {
  font-family: "ApercuProMono";
  src: url("../assets/fonts/apercu/ApercuPro-Mono.woff2") format("woff2"),
       url("../assets/fonts/apercu/ApercuPro-Mono.woff") format("woff"),
       url("../assets/fonts/apercu/ApercuPro-Mono.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* ----- ApercuPro Regular (caso exista) ----- */
@font-face {
  font-family: "ApercuPro";
  src: url("../assets/fonts/apercu/ApercuPro.woff2") format("woff2"),
       url("../assets/fonts/apercu/ApercuPro.woff") format("woff"),
       url("../assets/fonts/apercu/ApercuPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* ----- ivy-prestio*/
@font-face {
  font-family: "IvyPresto";
  src: url("../assets/fonts/ivy-presto-display/ivy-presto-display.otf") format("ptf");
  font-weight: 400;
  font-style: normal;
}

.how-it-works-section{
    padding: 0rem 0rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h1{
        font-family: "ApercuPro";
        font-style: italic;
        padding-left: 1rem;
        color: #e45397;
        font-size: 80px;
        font-weight: lighter;
        padding-bottom: 1rem;
    }
    .how-it-works-div{
        display: grid;
        grid-template-columns: 0.45fr 0.55fr;
        gap: 20px;
        ul{
            list-style: none;
            color: #c41123;
            font-family: "ApercuPro";
            display: flex;
            flex-direction: column;
            gap: 40px;
            
            li{
                background-color: #ffd3dd;
                padding: 1rem;
                position: relative;
                border-radius: 50px;
                .step-badge {
                        position: absolute;
                        display: inline-block;
                        top: -20px;
                        left: 30px;
                    }

                        
                    .step-badge img {
                        
                        position: relative;
                        display: block;
                        width: 80px;
                     
                        
                    }

                       
                    .step-number {
                        position: absolute;
                        top: 60%;
                        left: 50%;
                        transform: translate(-50%, -65%);  
                        color: #fff;
                        font-weight: 700;
                        font-size: 1.4rem;
                        line-height: 1;
                        
                        background: none;
                    }
                span{
                    top: -20px;
                    left: 20%;
                    position: absolute;
                    font-size: 18px;
                    font-weight: bold;
                }
                p{
                    font-size: 14px;
                    font-weight: 600;
                    font-style: italic;
                }
            }

        }
        .how-it-works-section-div{
            background-color: #c41123;
            width: fit-content;
            border-radius: 50px 0px 0px 50px;
            display: flex;
            flex-direction: column;
            gap: 4rem;
            height: fit-content;
            padding: 2rem;
            img{
                align-self: end;
                margin-right: 30px;
                width: 35%;
                justify-self: flex-end;
                
            }
            p{
                font-weight: bold;
                font-size: 27px;
                color:white;
                max-width: 100%;
                white-space: pre-line;
            }
        }
    }
    
    
}

.ribbon-img{
    width: 110%;
}
.whats-include-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 2rem;
    background: linear-gradient(
            180deg,
            transparent 0%,      // fully transparent at the top
            transparent 20%,     // keeps the top clear for a bit
            #ffe7eb 40%,         // starts fading into light pink
            #ffd3dd 70%         // finishes with deeper pink
        );
     h1{
        font-family: "IvyPresto";
        font-style: italic;
        font-size: 70px;
        color: #c41123;
        }
    .whats-include-background{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background-repeat: repeat;         
        background-size: auto;            
        background-position: top left;  
        position: relative;
        
        .up-gloss{
            width: 25%;
            position: absolute;
            right: -130px;
            z-index: 10;
        }
        .down-gloss{
            width: 20%;
            position: absolute;
            right: -100px;
            bottom: 0px;
        }
        .whats-include-div{
            
            padding: 2rem 0rem 2rem 0rem;
            background-color: #ffd3dd;
            box-shadow: 0 8px 18px rgba(0, 0, 0, 0.18);
            border-radius: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            ul{
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 35px;
                color: white;
                
                li{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    

                    h3{
                    font-weight: bold;
                    font-size: 30px;
                    font-style: italic;
                    color: #c41123;
                    font-family: "IvyPresto";}
                    p{
                        font-family: "ApercuPro";
                        text-align: center;
                        width: 60%;
                    }
                }
                
            }
            img{
                width: 50%;
                
            }
        }
        button{
            background-color: #ffd3dd;
            border: none;
            padding: 2rem;
            color: #c41123;
            width: 35%;
            font-family: "ApercuPro";
            font-size: 35px;
            font-weight: 500;
            font-style: italic;
            border-radius: 50px;
            box-shadow: 0 8px 18px rgba(0, 0, 0, 0.18);
            cursor: pointer;
             transition:
                background-color 0.3s ease,
                transform 0.25s ease,
                box-shadow 0.3s ease,
                color 0.3s ease;

            &:hover {
                background-color: darken(#ffd3dd, 10%);   
                color: darken(#c41123, 10%);             
                transform: scale(1.04);                  
                box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
            }
            
        }
    }
    
}

/* ================================
   RESPONSIVE ADJUSTMENTS (DESKTOP / TABLET)
   – only additions, no changes to existing styles
   – phones (< 768px) intentionally left out
================================ */

$desktop-xl: 1500px;
$laptop-max: 1400px; 
$laptop-min: 1100px;
$tablet-min: 768px;  


@media (min-width: $desktop-xl) {
    .reserve-now .reserve-now-intro div {
        padding-bottom: 4rem;
        h2{
            font-size: 4rem;
        }
    }

    .reserve-now .reserve-now-display .reserve-now-display-flex .reserve-now-display-div {
        p{
            font-size: 23px;
        }
        button{
            font-size: 25px;
        }

    }
}

/* -------- Laptops & tablets (≈ 768px–1400px) -------- */
@media (max-width: $laptop-max) and (min-width: $laptop-min) {
    .how-it-works-section h1{
        font-size: 70px;
    }
    .how-it-works-section .how-it-works-div ul li .step-badge img{
        width: 75px;
    }
   .how-it-works-section .how-it-works-div ul li .step-number{
    font-size: 1.2rem;
   }
  .how-it-works-section .how-it-works-div ul li {
    span{
        left: 25%;
    }
  }
  .how-it-works-section .how-it-works-div .how-it-works-section-div{
    p{
        font-size: 25px;
    }
    
  }
  .whats-include-section .whats-include-background {
        .up-gloss{
            top: 30%;
        }
  }

  .whats-include-section .whats-include-background .whats-include-div img{
    width: 40%;
  }
  .whats-include-section .whats-include-background button{
    font-size: 30px;
  }

  .whats-include-section h1{
    font-size: 60px;
  }
}