.faq {
  
}

.faq-intro {
  padding-left: 2rem;

  h1 {
    font-size: 5.5rem;
    color: #c41123;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 1.5rem;
    font-family: "IvyPresto";
  }

  p {
    max-width: 100%;
    font-family: "ApercuPro";
    font-size: 1.8rem;
    color: #c41123;
    font-weight: bold;
    line-height: 1;
  }
}
.ribbon-image{
 
  width: 100%;
}

.faq-question {
    padding: 2rem;
  background-color: #f9d1dc;
  display: grid;
  grid-template-columns: 0.50fr 0.55fr;
  
  img{
    width: 90%;
    max-height: 600px
  }
  .faq-question-container{
    display: flex;
    flex-direction: column;
    h3 {
        align-self: flex-end;
        margin-bottom: 1.5rem;
        font-size: 4rem;
        color: #c41123;
        font-style: italic;
        text-transform: uppercase;
        font-family: "ApercuPro";
    }

    ul {
        list-style: none;
        padding: 0;
    }
  }
  
}

.faq-item {
  padding: 1rem 0;
  
  &:first-of-type {
    border-top: 3px solid white;
  }
  border-bottom: 3px solid white;

  &.is-open .faq-toggle {
    transform: rotate(45deg);
  }
}

.faq-question-header {
  background: transparent;
  border: none;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  text-align: left;

  p {
    color: #c41123;
    margin: 0;
    flex: 1;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "ApercuPro";
  }
}

.faq-toggle {
color: #c41123;
  font-size: 1.6rem;
  display: inline-block;
  transition: transform 0.25s ease;
  line-height: 1;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-6px);
  font-family: "ApercuPro";
  transition:
    max-height 0.35s ease,
    opacity 0.35s ease,
    transform 0.35s ease;

  ol {
    padding-left: 1.2rem;
    margin-top: 0.6rem;
    list-style: disc;
    color: #c41123;
  }

  li {
    margin-bottom: 0.2rem;
    
  }
}

.faq-answer.is-open {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
}


.faq-still-questions{
    min-height: 70vh;
    
    
    background-repeat: repeat;         
    background-size: auto;            
    background-position: top left;  
    div{
        width: 100%;
        min-height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background: linear-gradient(
            180deg,
            transparent 0%,      // fully transparent at the top
            transparent 10%,     // keeps the top clear for a bit
            
            #ffd3dd8f 90%         // finishes with deeper pink
        );
        h1{
            font-family: "IvyPresto";
            font-style: italic;
            color: #c41123;
            font-size: 3rem;
        }
        button{
            border: none;
            border-radius: 50px;
            padding: 2rem;
            width: 50%;
            background-color: #f9d1dc;
            display: flex;
            flex-direction: column;
            gap: 5px;
            box-shadow: 0 8px 18px rgba(0, 0, 0, 0.18);
            transition: transform 0.25s ease, box-shadow 0.25s ease, background-color 0.25s ease;
            cursor: pointer;
            p{ 
                color: #c41123;
                font-size: 1rem;
                font-family: "ApercuPro";
                font-weight: bold;
            }
            span{
                font-size: 2.5rem;
                color: #c41123;
                font-family: "ApercuPro";
                font-weight: bold;
            }
        } 
        button:hover {
            transform: translateY(-5px) scale(1.03);
            background-color: #f4c4d2; /* slightly darker pink for a premium effect */
            box-shadow: 0 12px 28px rgba(0, 0, 0, 0.22);
        }
    }
}

$desktop-xl: 1500px;
$laptop-max: 1400px; 
$laptop-min: 1100px;
$tablet-min: 768px;  
$phone-max: 767px;
$phone-min: 320px;


@media (min-width: $desktop-xl) {

}

/* -------- Laptops & tablets (≈ 768px–1400px) -------- */
@media (max-width: $laptop-min) and (min-width: $tablet-min)  {

    .faq-question{
      grid-template-columns: 0.7fr 0.55fr;
    }
    .faq-question .faq-question-container h3{
      font-size: 3rem;
    }
    .faq-question-header p{
      font-size: 1rem;
    }
    .faq-question img{
      height: 100%;
      object-fit:  cover;
      object-position: left;
      border-radius: 40px;
      
    }
    .faq-still-questions div h1{
      font-size: 2.5rem;
    }
    .faq-still-questions div button{
      width: 75%;
    }
}

@media (min-width: $phone-min) and (max-width: $phone-max) {
  
  .faq-intro{
    padding-left: 1rem;
  }
  .faq-intro h1 {
    font-size: 15vw;
  }  

  .faq-intro p {
    font-size: 6vw ;
    margin-bottom: 1rem;
  }
  .ribbon-image {
    width: 130%;
}
  
  .faq-question{
      display: flex;
      flex-direction: column;
    }
    .faq-question .faq-question-container h3{
      margin-top: 1rem;
      margin-bottom: 1rem;
      align-self: center;
      font-size: 15vw;
    }
    .faq-question-header p{
      font-size: 4.5vw;
    }
    .faq-question img{
      width: 100%;
      border-radius: 40px;
      
    }

    .faq-still-questions{
      background-size: 450vw;
    }
    .faq-answer li {
    font-size: 4vw;
    }
    .faq-still-questions div h1{
      font-size:7vw;
      text-align: center;
    }
    .faq-still-questions div button{
      width: 80%;
      padding: 1rem;
    }
    .faq-still-questions div button p{
      font-size: 3.5vw;
    }
    .faq-still-questions div button span{
      font-size: 3.5vw;
    }
}