/* ----- ApercuPro Bold ----- */
@font-face {
  font-family: "ApercuPro";
  src: url("../assets/fonts/apercu/ApercuPro-Bold.woff2") format("woff2"), url("../assets/fonts/apercu/ApercuPro-Bold.woff") format("woff"), url("../assets/fonts/apercu/ApercuPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* ----- ApercuPro Bold Italic ----- */
@font-face {
  font-family: "ApercuPro";
  src: url("../assets/fonts/apercu/ApercuPro-BoldItalic.woff2") format("woff2"), url("../assets/fonts/apercu/ApercuPro-BoldItalic.woff") format("woff"), url("../assets/fonts/apercu/ApercuPro-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* ----- ApercuPro Italic ----- */
@font-face {
  font-family: "ApercuPro";
  src: url("../assets/fonts/apercu/ApercuPro-Italic.woff2") format("woff2"), url("../assets/fonts/apercu/ApercuPro-Italic.woff") format("woff"), url("../assets/fonts/apercu/ApercuPro-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* ----- ApercuPro Medium ----- */
@font-face {
  font-family: "ApercuPro";
  src: url("../assets/fonts/apercu/ApercuPro-Medium.woff2") format("woff2"), url("../assets/fonts/apercu/ApercuPro-Medium.woff") format("woff"), url("../assets/fonts/apercu/ApercuPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* ----- ApercuPro Medium Italic ----- */
@font-face {
  font-family: "ApercuPro";
  src: url("../assets/fonts/apercu/ApercuPro-MediumItalic.woff2") format("woff2"), url("../assets/fonts/apercu/ApercuPro-MediumItalic.woff") format("woff"), url("../assets/fonts/apercu/ApercuPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* ----- ApercuPro Mono ----- */
@font-face {
  font-family: "ApercuProMono";
  src: url("../assets/fonts/apercu/ApercuPro-Mono.woff2") format("woff2"), url("../assets/fonts/apercu/ApercuPro-Mono.woff") format("woff"), url("../assets/fonts/apercu/ApercuPro-Mono.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* ----- ApercuPro Regular (caso exista) ----- */
@font-face {
  font-family: "ApercuPro";
  src: url("../assets/fonts/apercu/ApercuPro.woff2") format("woff2"), url("../assets/fonts/apercu/ApercuPro.woff") format("woff"), url("../assets/fonts/apercu/ApercuPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* ----- ivy-prestio*/
@font-face {
  font-family: "IvyPresto";
  src: url("../assets/fonts/ivy-presto-display/ivy-presto-display.otf") format("ptf");
  font-weight: 400;
  font-style: normal;
}

.nav-1 {
  position: absolute;
  top: 30px;
  width: 100%;
}

.nav-1 ul {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: self-end;
      -ms-flex-align: self-end;
          align-items: self-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.nav-1 ul li {
  list-style: none;
  font-style: italic;
  font-family: "ApercuPro";
}

.nav-1 ul li .nav-logo {
  padding-top: 10px;
  padding-left: 15px;
  width: 25%;
}

.nav-1 ul div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.nav-1 ul div li {
  font-size: 18px;
  text-transform: uppercase;
  color: white;
}

.nav-1 ul div li a {
  text-decoration: none;
  color: white;
}

.nav-1 ul div li a:visited {
  color: white;
}

.nav-2 {
  background-color: #f9d1dc;
  margin-top: 4rem;
  margin-bottom: 4rem;
  top: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 80%;
  border-radius: 50px;
  font-family: "ApercuPro";
}

.nav-2 ul {
  width: 100%;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5fr 1fr;
      grid-template-columns: 1fr 1.5fr 1fr;
  gap: 10px;
}

.nav-2 ul li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  list-style: none;
}

.nav-2 ul li .nav-logo {
  padding-left: 15px;
  width: 50%;
  -webkit-filter: brightness(0) saturate(100%) invert(17%) sepia(96%) saturate(7486%) hue-rotate(342deg) brightness(93%) contrast(96%);
          filter: brightness(0) saturate(100%) invert(17%) sepia(96%) saturate(7486%) hue-rotate(342deg) brightness(93%) contrast(96%);
}

.nav-2 ul div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

.nav-2 ul div li {
  font-size: 15px;
  text-transform: uppercase;
  color: #c41123;
}

.nav-2 ul div li a {
  text-decoration: none;
  color: #c41123;
}

.nav-2 ul div li a.active {
  background-color: white;
  border-radius: 50px;
  padding: 0.2rem;
}

.nav-2 ul div li a:visited {
  color: #c41123;
}

.nav-2 ul .icon-nav-2 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem;
  padding-bottom: 1rem;
  min-height: 25vh;
  font-family: "ApercuPro";
  background-color: #e45397;
}

footer .footer-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-div ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

footer .footer-div ul li {
  color: white;
  font-size: 15px;
}

footer .footer-div ul li a {
  color: white;
  text-decoration: none;
}

footer .footer-div ul li a:visited {
  color: white;
}

footer p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
}

footer .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  gap: 10px;
}

footer .footer-social a {
  text-decoration: none;
}

footer .footer-social a:visited {
  color: white;
}
/*# sourceMappingURL=NavBar.css.map */