/* ----- ApercuPro Bold ----- */
@font-face {
  font-family: "ApercuPro";
  src: url("../assets/fonts/apercu/ApercuPro-Bold.woff2") format("woff2"),
       url("../assets/fonts/apercu/ApercuPro-Bold.woff") format("woff"),
       url("../assets/fonts/apercu/ApercuPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* ----- ApercuPro Bold Italic ----- */
@font-face {
  font-family: "ApercuPro";
  src: url("../assets/fonts/apercu/ApercuPro-BoldItalic.woff2") format("woff2"),
       url("../assets/fonts/apercu/ApercuPro-BoldItalic.woff") format("woff"),
       url("../assets/fonts/apercu/ApercuPro-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* ----- ApercuPro Italic ----- */
@font-face {
  font-family: "ApercuPro";
  src: url("../assets/fonts/apercu/ApercuPro-Italic.woff2") format("woff2"),
       url("../assets/fonts/apercu/ApercuPro-Italic.woff") format("woff"),
       url("../assets/fonts/apercu/ApercuPro-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* ----- ApercuPro Medium ----- */
@font-face {
  font-family: "ApercuPro";
  src: url("../assets/fonts/apercu/ApercuPro-Medium.woff2") format("woff2"),
       url("../assets/fonts/apercu/ApercuPro-Medium.woff") format("woff"),
       url("../assets/fonts/apercu/ApercuPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* ----- ApercuPro Medium Italic ----- */
@font-face {
  font-family: "ApercuPro";
  src: url("../assets/fonts/apercu/ApercuPro-MediumItalic.woff2") format("woff2"),
       url("../assets/fonts/apercu/ApercuPro-MediumItalic.woff") format("woff"),
       url("../assets/fonts/apercu/ApercuPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* ----- ApercuPro Mono ----- */
@font-face {
  font-family: "ApercuProMono";
  src: url("../assets/fonts/apercu/ApercuPro-Mono.woff2") format("woff2"),
       url("../assets/fonts/apercu/ApercuPro-Mono.woff") format("woff"),
       url("../assets/fonts/apercu/ApercuPro-Mono.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* ----- ApercuPro Regular (caso exista) ----- */
@font-face {
  font-family: "ApercuPro";
  src: url("../assets/fonts/apercu/ApercuPro.woff2") format("woff2"),
       url("../assets/fonts/apercu/ApercuPro.woff") format("woff"),
       url("../assets/fonts/apercu/ApercuPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* ----- ivy-prestio*/
@font-face {
  font-family: "IvyPresto";
  src: url("../assets/fonts/ivy-presto-display/ivy-presto-display.otf") format("ptf");
  font-weight: 400;
  font-style: normal;
}
.nav-1{
    position: absolute;
    top: 30px;
    width: 100%;
    ul{
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: self-end;
        justify-content: space-between;
        gap: 10px;
        li{
            list-style: none;
            font-style: italic;
            font-family: "ApercuPro";
            .nav-logo{
                padding-top: 10px;
                padding-left: 15px;
                width: 25%;
            }
        }
        div{
            display: flex;
            gap: 15px;
            li{
                font-size: 18px;
                text-transform: uppercase;
                color: white;
                a{
                    text-decoration: none;
                    color: white;
                    &:visited{
                        color: white;
                    }
                }
                
                
            }
            .nav-icon-img{}
        }
        
    }
}
.nav-2{
    background-color: #f9d1dc;
    margin-top: 4rem;
    margin-bottom: 4rem;
    top: 30px;
    align-self: center;
    justify-self: center;
    width: 80%;
    border-radius: 50px;
    font-family: "ApercuPro";
    ul{
        width: 100%;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 10px;
        li{
            width: fit-content;
            list-style: none;
            .nav-logo{
                padding-left: 15px;
                width: 50%;
                filter: brightness(0) saturate(100%) invert(17%) sepia(96%) saturate(7486%) hue-rotate(342deg) brightness(93%) contrast(96%);
                
            }
        }
        div{
            display: flex;
            gap: 10px;
            align-items: center;
            font-weight: 600;
            li{
                font-size: 15px;
                text-transform: uppercase;
                color: #c41123;
               
                
                a{
                    text-decoration: none;
                    color: #c41123;
                    

                    &.active {
                        background-color: white;
                        border-radius: 50px;
                        padding: 0.2rem;
                    }
                    &:visited{
                        color: #c41123;
                    }
                }
                
                
            }
        }
        .icon-nav-2{
            justify-content: end;
        }
        
    }
}

footer{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    padding-bottom: 1rem;
    min-height: 25vh;
    font-family: "ApercuPro";
    background-color: #e45397;
    .footer-div{
        display: flex;
        justify-content: space-between;
        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 10px;
            li{
                a{
                    color: white;
                    text-decoration: none;
                    &:visited{
                        color: white;
                    }
                }
                color: white;
                font-size: 15px;
            }
        }
    }
    p{
        align-self: center;
        color: white;
    }
    .footer-social{
        display: flex;
        flex-direction: column;
        color: white;
        gap:10px;
        a{
            text-decoration: none;
            &:visited{
                color: white;
            }
        }
    }
}

$desktop-xl: 1500px;
$laptop-max: 1400px; 
$laptop-min: 1100px;
$tablet-min: 768px;  
@media (min-width: $desktop-xl) {

}


@media (max-width: $laptop-max) and (min-width: $laptop-min) {
  
  .nav-2 ul {
    grid-template-columns:1fr 3fr 1fr;
  }
}
