.online-how-it-works-section{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    h1{
        padding-left: 3rem;
        width: 80%;
        font-size: 60px;
        font-weight: lighter;
        color: #e45397;
        text-transform: uppercase;
    }
    .online-how-it-works-section-div{
        display: flex;
        position: relative;
        img{
            width: 55%;
            max-height: 130vh;
        }
         ul{
            position: absolute;
            right: 0px;
            list-style: none;
            color: white;
            display: flex;
            width: 55%;
            top: 10%;
            flex-direction: column;
            gap: 30px;
            h2{
                color: #c41123;
                font-size: 50px;
                align-self: flex-end;
                justify-self: flex-end;
            }
            li{
                background-color: #ffd3dd;
                padding: 1rem;
                position: relative;
                border-radius: 50px;
                .step-badge {
                        position: absolute;
                        display: inline-block;
                        top: -20px;
                        left: 30px;
                    }

                        
                    .step-badge img {
                        
                        position: relative;
                        display: block;
                        width: 80px;
                     
                        
                    }

                       
                    .step-number {
                        position: absolute;
                        top: 60%;
                        left: 50%;
                        transform: translate(-50%, -65%);  
                        color: #fff;
                        font-weight: 700;
                        font-size: 1.4rem;
                        line-height: 1;
                        
                        background: none;
                    }
                span{
                    font-size: 18px;
                }
                p{
                    font-size: 15px;
                    font-weight: 600;
                    font-style: italic;
                }
            }

        }
        
    }
}

.online-buy-section{
    min-height: 100vh;
    padding: 3rem;
    background: linear-gradient(
            180deg,
            transparent 0%,      // fully transparent at the top
            transparent 20%,     // keeps the top clear for a bit
            #ffe7eb 40%,         // starts fading into light pink
            #ffd3dd8f 100%         // finishes with deeper pink
    );
    display: flex;
    flex-direction: column;
    gap: 20px;
    button{
        background-color: #ffd3dd;
        color: #c41123;
        border: none;
        border-radius: 50px;
        padding: 1.5rem;
        font-size: 60px;
        width: 40%;
        box-shadow: 0 8px 18px rgba(0, 0, 0, 0.18);

    }
    p{
        font-size: 30px;
        color: #e45397;
        padding-left: 4rem;

    }
}