.online-how-it-works-section{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    h1{
        padding-left: 3rem;
        width: 80%;
        font-size: 60px;
        font-weight: lighter;
        color: #e45397;
        text-transform: uppercase;
        font-weight: bold;
        font-family: "ApercuPro";
        font-style: italic;
    }
    .online-how-it-works-section-div{
        display: flex;
        position: relative;
        img{
            width: 55%;
            max-height: 130vh;
        }
         ul{
            position: absolute;
            right: 0px;
            list-style: none;
            color: white;
            display: flex;
            width: 55%;
            top: 10%;
            flex-direction: column;
            gap: 30px;
            h2{
                font-family: "IvyPresto";
                color: #c41123;
                font-size: 70px;
       
                font-style: italic;
                align-self: flex-end;
                justify-self: flex-end;
                padding-bottom: 2rem;
            }
            li{
                background-color: #ffd3dd;
                padding: 2rem;
                position: relative;
                border-radius: 50px;
                font-family: "ApercuPro";
                width: 90%;
                color: #c41123;
                .step-badge {
                        position: absolute;
                        display: inline-block;
                        top: -20px;
                        left: 30px;
                    }

                        
                    .step-badge img {
                        
                        position: relative;
                        display: block;
                        width: 90px;
                     
                        
                    }

                       
                    .step-number {
                        position: absolute;
                        top: 65%;
                        left: 50%;
                        transform: translate(-50%, -65%);  
                        color: #fff;
                        font-weight: 700;
                        font-size: 1.8rem;
                        line-height: 1;
                        
                        background: none;
                    }
                span{
                    top: -25px;
                    left: 25%;
                    position: absolute;
                    font-size: 20px;
                    font-weight: bold;
                }
                p{
                    font-size: 15px;
                    font-weight: 600;
                    font-style: italic;
                }
            }

        }
        
    }
}
.now-img-container{
    width: 100%;
    padding-top: 2rem;
    img{
        position: relative;
        left: -30px;
        width:110%;
    }
}


.online-buy-section{
    min-height: 100vh;
    padding: 0rem 3rem 3rem 3rem;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    .frist-button-online{
        align-self: center;
        text-transform: uppercase;
        margin-top: 1rem;
        font-family: "ApercuPro";
        font-weight: 600;
        font-style: italic;
        background-color: #c41123;
        color: white;
        border: none;
        border-radius: 30px;
        padding: 2.0rem;
        font-size: 45px;
        width: 50%;
        cursor: pointer;
        box-shadow: 0 8px 18px rgba(0, 0, 0, 0.18);
         transition:
        background-color 0.35s ease,
        color 0.3s ease,
        transform 0.3s ease,
        box-shadow 0.35s ease;

        &:hover {
            background-color: darken(#ffd3dd, 10%);   
            color: darken(#c41123, 10%);              
            transform: scale(1.04);                   
            box-shadow: 0 14px 26px rgba(0, 0, 0, 0.26);
        }

    }
    .second-button-online{
        align-self: center;
        text-transform: uppercase;
        margin-top: 1rem;
        font-family: "ApercuPro";
        font-weight: 600;
        font-style: italic;
        background: none;
        color: white;
        border: 2px solid #c41123;
        border-radius: 50px;
        padding: 2.0rem;
        font-size: 45px;
        width: 50%;
        color: #c41123;
        cursor: pointer;
        box-shadow: 0 8px 18px rgba(0, 0, 0, 0.18);
         transition:
        background-color 0.35s ease,
        color 0.3s ease,
        transform 0.3s ease,
        box-shadow 0.35s ease;

        &:hover {
            background-color: darken(#ffd3dd, 10%);   
            color: darken(#c41123, 10%);              
            transform: scale(1.04);                   
            box-shadow: 0 14px 26px rgba(0, 0, 0, 0.26);
        }
    }
    .online-buy-p{
        font-family: "ApercuPro";
        font-size: 30px;
        font-weight: 600;
        color: #c41123;
        align-self: center;
        font-style: italic;
        text-align: center;
        text-transform: uppercase;

    }

    .online-buy-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding-bottom: 5rem;
        .online-buy-card{
            padding: 2rem;
            display: flex;
            flex-direction: column;
            width: 30%;
            border-radius: 20px;
            background-color: white;
            cursor: pointer;
            transition: 
                transform 0.3s ease,
                box-shadow 0.3s ease;

            &:hover {
                transform: scale(1.03); // subtle expansion
                box-shadow: 0 12px 25px rgba(0, 0, 0, 0.20); // soft depth
            }
            img{
                width: 30%;
                align-self: center;
                justify-self: center;
                margin-bottom: 1rem;
                
            }
            h3{
                font-family: 'ApercuPro';
                color: black;
                font-style: italic;
                font-size: 1.5rem;
            }

            span{
                font-family: 'ApercuPro';
                color: black;
                padding: 0.5rem;
                border: 2px solid black;
                border-radius: 50px;

                text-align: center;
                font-weight: bolder;
            }
        }
    }
}

.img-site{
    align-self: center;
    width: 60%;
    margin-bottom: 3rem;
}

$desktop-xl: 1500px;
$laptop-max: 1400px; 
$laptop-min: 1100px;
$tablet-min: 768px;  


@media (min-width: $desktop-xl) {
    .online-how-it-works-section h1{
        width: 75%;
    }
    .online-how-it-works-section .online-how-it-works-section-div img{
        max-height: 100vh;
    }
}

/* -------- Laptops & tablets (≈ 768px–1400px) -------- */
@media (max-width: $laptop-max) and (min-width: $laptop-min) {
    .online-how-it-works-section h1{
        width: 75%;
        font-size: 40px;
    }

    .online-how-it-works-section .online-how-it-works-section-div ul h2{
        font-size: 45px;
    }
    .online-how-it-works-section .online-how-it-works-section-div ul li {
        padding: 1.5rem;
        .step-number {
            font-size: 1.5rem;
        }
        .step-badge img {
            width: 80px;
        }
        span{
            font-size: 18px;
        }
        p{
            font-size: 13px;
        }
    }
    .online-buy-section button{
        font-size: 40px;
    }
}