.reserve-now{
    .reserve-now-intro{
        min-height: 100vh;
        display: flex;
        justify-content: end;
        align-items: center;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-right: 20px;
            gap: 10px;
            h2{
                font-size: 40px;
                color: #e45397;
            }
            button{
                background-color: #f9d1dc;
                border: 0px;
                padding: 2rem;
                border-radius: 50px;
                width: 80%;
                font-size: 30px;
                color: white;


            }
        }
        

    }
    .reserve-now-display{
        background: linear-gradient(
            180deg,
            transparent 0%,      // fully transparent at the top
            transparent 20%,     // keeps the top clear for a bit
            #ffe7eb 40%,         // starts fading into light pink
            #ffd3dd 100%         // finishes with deeper pink
        );
        padding-top: 2rem;
        
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        max-height: 170vh;
        padding: 1rem;
        .reserve-now-display-flex{
            display: flex;
            flex-direction: column;
            position: relative;
            img{
                position: absolute;
                width: 80%;
                top: 75vh;
                left: -100px;
            }
            .reserve-now-display-div{
                margin-bottom: 2rem;
                
                background-color: #ffd3dd;
                margin-left: 20px;
                min-height: 40vh;
                padding: 1rem;
                border-radius: 50px;
                padding-top: 4rem;
                padding-bottom: 2rem;
                display: flex;
                flex-direction: column;
                gap: 20px;
                h3{
                    padding-left: 20px;
                    color: #c41123;
                    font-size: 35px;
                    font-weight: 400;
                }
                p{
                    color: white;
                    white-space: pre-line;
                    font-size: 20px;
                    margin-bottom: 25px;
                }
                button{
                    width: 40%;
                    background-color: #c41123;
                    border: none;
                    border-radius: 50px;
                    font-size: 18px;
                    padding: 1rem;
                    color: white;
                }
            }
        }
        .img-bck-colors{
            width: 100%;
            max-height: 80%;
        }
        
    }
}


